/* Page */
a{
  color: #e5e7ebad;
  font-size: 18px;
  text-decoration: none;
}
.awesome,
.footer,
.header,
.logo{
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
}
body{
  font-family: Arial, Helvetica, sans-serif;;
  margin: 0%;
  padding: 0%;
}

/* Header */
.logo{
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-left: 100px;
  border-color: #E5E7EB;
  border-style: dashed;
}
.links{
  display: flex;
  column-gap:  16px;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  margin-right: 100px;
  border-color: #E5E7EB;
  border-style: dashed;
}

/* Footer */
.footer{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

/* Awesome Section */ 
.awesome{
  align-items: center;
  gap: 18px;
  flex: 1;
  border-color: #E5E7EB;
  border-style: dashed;
}
.awesome-desc{
  color: #E5E7EBAD;
  font-size: 18px;
  margin: 5px;
}
.awesome-image-container{
  height: 250px;
  margin: 24px 100px 24px 0px; 
  margin-left: auto;
  width: 700px;
  border-color: #E5E7EB;
  border-style: dashed;
}
.awesome-modal{
  align-items: center;
  height: 250px;
  margin: 24px 0px 24px 100px; 
  width: 500px;
  border-color: #E5E7EB;
  border-style: dashed;
}
.awesome-title{
  display: flex;
  font-size: 48px;
  font-weight: 900;
  margin: 5px;
  justify-content: center;
}
.awesome-image{
  height: 250px;
  width: 700px;
  object-fit: cover;
}
.awesome-button{
  background-color: #3882F6;
  color: #E5E7EB;
  border-color: #3882F6;
  border-radius: 10px;
  font-weight: bold;
  margin: 5px;
  padding: 8px;
  width: 95px;
}

/* Random Information section */
.random-card{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  margin: 0px 20px;
  width: 190px;
}
.random-cards{
  display: flex;
  justify-content: center;
  margin: 10px 0px 80px ;
}
.random-text{
  display: flex;
  align-self: center;
}
.random-title{
  justify-content: center;
  color: #1F2937;
  display: flex;
  font-size: 36px ;
  font-weight: bolder;
  margin: 24px 0px ;
}
.random-image{
  border: #3882f6;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  height: 170px;
  width: 190px;
}

/* Inspiring Quote */
.testimonial{
  align-items: center;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}
.testimonial-text{
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
  width: 750px;
}
.testimonial-author{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 100;
  width: 750px;
  border: #1F2937;
  border-style: dashed;
}






